.actualContainerAdmin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerAdmin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.opcoesAdmin {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.separador {
  width: 1px;
  height: 10rem;
  background-color: black;
}

.botaoAdmin {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ca302d;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: none;

  transition: transform 0.2s ease;
}

.botaoAdmin:hover {
  transform: scale(1.15);
}

.svgAdmin {
  transform: scale(3);
  fill: #fff;
}

.pAdmin {
  margin-top: 1rem;
  font-size: 2rem;
}
