.tituloRelatorio {
  text-align: center;
  margin-bottom: 2rem;
}

.buttonAdicionar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50%;
  margin-bottom: 2rem;
  margin-top: 2rem;
  transform: translateX(-50%);

  padding: 0.5rem 1rem;

  border: none;
  border-radius: 0.5rem;

  background-color: #ca302d;
  color: white;
}

.buttonAdicionar svg {
  margin-right: 0.5rem;
}

.section {
  margin-top: 2rem;
}

.sectionHeader {
  display: grid;
  grid-template-columns: 1fr minmax(0, 60rem) 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". main .";
  gap: 1rem;
  margin-bottom: 2rem;
}

.sectionHeader > div {
  grid-area: main;
}

.sectionHeader > div p {
  font-size: 0.9rem;
}

/* resumo */

.gridResumo {
  display: grid;
  margin: 1rem 0;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 4fr 1fr;
  grid-template-areas:
    "resumoCusteio resumoCapital"
    "resumoTotal resumoTotal";

  border-radius: 0.5rem;
  overflow: hidden;
}

.resumoCapital,
.resumoCusteio,
.resumoTotal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resumoCusteio {
  grid-area: resumoCusteio;
  background-color: #ca302d;
}

.resumoCapital {
  grid-area: resumoCapital;
  background-color: blueviolet;
}

.resumoTotal {
  grid-area: resumoTotal;
  align-items: flex-end;
  background-color: lightgray;
}

.resumoTotal p {
  padding: 0.2rem 1rem;
}

.resumoCusteio .tituloResumo,
.resumoCapital .tituloResumo {
  width: 100%;
  text-align: center;
  color: white;
  padding: 1rem 0;
}

.resumoCusteio .tituloResumo {
  background-color: #91211f;
  border-bottom: 0.2rem solid #cc5755;
}

.resumoCapital .tituloResumo {
  background-color: #711ebe;
  border-bottom: 0.2rem solid rgb(255, 105, 255);
}

.informacoesResumo {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);

  justify-items: left;
  margin: auto;
}

.informacoesResumo p {
  padding: 0.5rem 0.5rem;
  color: white;
  width: 100%;
}

.informacoesResumo p strong {
  color: white;
}
