.tituloRelatorio {
  text-align: center;
  margin-bottom: 2rem;
}

.buttonAdicionar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50%;
  margin-bottom: 2rem;
  margin-top: 2rem;
  transform: translateX(-50%);

  padding: 0.5rem 1rem;

  border: none;
  border-radius: 0.5rem;

  background-color: #ca302d;
  color: white;
}

.buttonAdicionar svg {
  margin-right: 0.5rem;
}

.sectionHeader {
  display: grid;
  margin-bottom: 1rem;
  grid-template-columns: 1fr minmax(0, 60rem) 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". main .";
  gap: 1rem;
}

.sectionHeader > div,
.sectionHeader span {
  grid-area: main;
}

.sectionHeader > div p {
  font-size: 0.9rem;
}

/* GRU */

.mainContentGru {
  box-sizing: border-box;
  width: 100%;
  margin: 1rem 0;

  background-color: #6930c3;

  border-radius: 0.5rem;
  overflow: hidden;

  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.mainContentGru form {
  display: grid;
  grid-template-rows: 2fr 2fr;
  grid-template-areas:
    "divTop"
    "divBottom";
  align-items: center;
}

.divTop {
  grid-area: divTop;
  background-color: #6930c3;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divTop label {
  display: block;
  margin: auto;
  width: max-content;
}

.divTop label p {
  color: white;
  font-size: 1.3rem;
}

.divTop input {
  width: 100%;
  /* transform: translateX(0.03rem); */
  text-align: center;
  height: 1.8rem;
  font-size: 1rem;
}

.divBottom {
  display: flex;
  flex-direction: column;
  grid-area: divBottom;
  height: 100%;
}

.divBottom p {
  color: white;
  text-align: center;
  padding: 1rem;
}

.divBottom div {
  gap: 0.1rem;
  background-color: #fff;
  padding-top: 0.1rem;
}

.divBottom button,
.divBottom label {
  width: 100%;
  height: 100%;
  background-color: #5390d9;
  border: none;
  color: white;
}

.divBottom label {
  color: white;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

/* resumo */

.gridResumo {
  display: grid;
  margin: 1rem 0;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 4fr 1fr;
  grid-template-areas:
    "resumoCusteio resumoCapital"
    "resumoTotal resumoTotal";

  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);

  gap: 0.1rem;
  background-color: #e2e2e2;
}

.resumoCapital,
.resumoCusteio,
.resumoTotal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resumoCusteio {
  grid-area: resumoCusteio;
  background-color: #5390d9;
  /* border-top-right-radius: 0.5rem; */
  /* border-bottom-right-radius: 0.5rem; */
  border-bottom-left-radius: 0.5rem;
  overflow: hidden;
}

.resumoCapital {
  grid-area: resumoCapital;
  background-color: #5390d9;
  /* border-top-left-radius: 0.5rem; */
  border-bottom-right-radius: 0.5rem;
  /* border-bottom-left-radius: 0.5rem; */
  overflow: hidden;
}

.resumoTotal {
  grid-area: resumoTotal;
  align-items: flex-end;
  background-color: transparent;
}

.resumoTotal p {
  padding: 0.2rem 1rem;
}

.resumoCusteio .tituloResumo,
.resumoCapital .tituloResumo {
  width: 100%;
  text-align: center;
  color: white;
  padding: 1rem 0;
}

.resumoCusteio .tituloResumo {
  background-color: #6930c3;
  border-bottom: 0.1rem solid #e2e2e2;
}

.resumoCapital .tituloResumo {
  background-color: #6930c3;
  border-bottom: 0.1rem solid #e2e2e2;
}

.informacoesResumo {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);

  justify-items: left;
  margin: auto;
}

.informacoesResumo p {
  padding: 0.5rem 0.5rem;
  color: white;
  width: 100%;
}

.informacoesResumo p strong {
  color: white;
}

.buttonCreatePDF {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;

  margin: 0 2rem 2rem 0;

  height: 4rem;
  width: 4rem;

  background-color: #ca302d;

  border-radius: 50%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: 0.2s ease;
  z-index: 1;
}

.buttonCreatePDF button {
  border: none;
  background-color: transparent;
  width: 100%;
}

.buttonCreatePDF button svg {
  fill: white;
}

.buttonCreatePDF:hover {
  transform: scale(1.1);
  background-color: #91211f;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

/* Modal Warnings */

@keyframes openWarning {
  to {
    width: 600px;
    height: 400px;
    opacity: 1;
  }
}

.modalWarning {
  animation: openWarning 0.2s ease forwards;
  opacity: 0;

  background-color: lightgray;
  position: relative;
  width: 0px;
  height: 0px;
  overflow: auto;
  margin-top: 4rem;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);
}

@keyframes tituloWarning {
  to {
    width: 600px;
    height: 48px;
    opacity: 1;
  }
}

.tituloModal {
  animation: tituloWarning 0.2s ease forwards;
  opacity: 0;

  position: fixed;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "svg div";

  align-items: center;
  justify-items: center;
  background: #ca302d;
  padding: 0.5rem 0;
  transform: translate(0, -4rem);
  width: 0;
  height: 0;

  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.26);
}

.tituloModal svg {
  grid-area: svg;
}

.tituloModal div h2 {
  color: white;
  text-align: center;
}

.tituloModal div {
  grid-area: div;
  color: white;
}

/* Warnings */

.contentFormWarning {
  background-color: #ca302d;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.contentFormWarning h3 {
  background: #91211f;
  border-bottom: 0.2rem solid #92504f;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

.contentFormWarning span {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentFormWarning span div p {
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  width: fit-content;

  transition: 0.2s ease transform;
}

.contentFormWarning span div p:hover {
  transform: scale(1.3);
}
