.h1 {
  text-align: center;
  margin: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.filtrar {
  margin: 0 1rem;
  border: solid #d95d39 0.2rem;
  border-radius: 0.5rem;
  width: 30%;
  padding: 0 0.5rem;
  outline: none;
}

.addAdmin {
  width: 2rem;
  height: 2rem;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: ease 0.3s;
}

.addAdmin:hover {
  /* Pode ser tanto 90deg como 180deg precisa ver qual fica melhor */
  transform: scale(1.3) rotate(180deg);
}

.svgAdmin {
  width: 100%;
  height: 100%;
  fill: #d95d39;
}
