.h1 {
  text-align: center;
  margin: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.filtrarContainer {
  display: flex;
  width: 90%;
  max-width: 450px;
  justify-content: center;
}

.filtrarContainer button {
  width: 10%;
}

.filtrar {
  width: 80%;
  margin: 0 1rem;
  border: solid #a41726 0.2rem;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  outline: none;
}

.addAdmin {
  width: 2rem;
  height: 2rem;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: transform ease 0.3s;
}

.addAdmin:hover {
  /* Pode ser tanto 90deg como 180deg precisa ver qual fica melhor */
  transform: scale(1.3) rotate(180deg);
}

.svgAdmin {
  width: 100%;
  height: 100%;
  fill: #ca302d;
}

/* -=-=-=-=-=-=-=-=-=-=-= Projetos =-=-=-=-=-=-=-=-=-=-=-=- */

.containerProjetos {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  width: 90%;
  margin: 2rem auto;
}

/* -=-=-=-=-=-=-=- Adicionar novos projetos no Projetos -=-=-=-=-=-=-=-= */

.adicionarProjetoProjetos {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalProjeto {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.582);
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.botaoModal {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  right: 0;
  bottom: 0;

  border-top-left-radius: 4rem;
  height: 3rem;
  width: 3rem;

  border: none;
  background-color: #ca302d;
  outline: none;
}

.botaoModal svg {
  transform: translate(0.3rem, 0.3rem);
  fill: white;
}

.botaoModal p {
  text-align: center;
}
