.tituloRelatorio {
  text-align: center;
}

.divTopo {
  margin-bottom: 3rem;
}

.containerNotaFiscalInicial {
  position: relative;

  background-color: #ededed;
  border: 0.2rem solid #ca302d;
  border-radius: 0.5rem;

  max-width: 50rem;
  width: 100%;

  transform: translateX(-15rem);
  opacity: 0;

  animation: slide 0.3s forwards;

  box-shadow: 3px 3px 5px rgba(46, 0, 0, 0.3);
}

.containerNotaFiscalFinal {
  position: relative;
  padding: 0 0 4rem 0;

  background-color: #ededed;
  border: 0.2rem solid #ca302d;
  border-radius: 0.5rem;

  max-width: 50rem;
  width: 100%;

  transform: translateX(-15rem);
  opacity: 0;

  animation: slide 0.3s forwards;

  height: 1rem;
  box-shadow: 3px 3px 5px rgba(46, 0, 0, 0.3);
}

@keyframes slide {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.containerNotaFiscalInicial span,
.containerNotaFiscalFinal span {
  position: absolute;
  top: 15px;
  left: -30px;

  /* border-bottom-right-radius: 0.5rem; */

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ca302d;

  width: 20rem;
  height: 3rem;
}

.containerNotaFiscalInicial span::after,
.containerNotaFiscalFinal span::after {
  position: absolute;
  content: "";
  bottom: -16px;
  left: 0;
  border-style: solid;
  border-top-width: 8px;
  border-left-width: 15px;
  border-right-width: 15px;
  border-bottom-width: 8px;

  border-top-color: #a41726;
  border-left-color: transparent;
  border-right-color: #a41726;
  border-bottom-color: transparent;
  z-index: -1;
}

.containerNotaFiscalInicial span p,
.containerNotaFiscalFinal span p {
  color: white;
}

.flexBox {
  display: flex;

  padding-top: 2rem;
  padding-bottom: 4rem;
}

.containerInputs {
  display: flex;
  flex-direction: column;

  position: relative;

  width: 50%;

  padding: 0 2rem 0 2rem;
}

.containerInputs + .containerInputs {
  border-left: solid 0.1rem rgba(0, 0, 0, 0.2);
}

.row {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.row + .row {
  margin-top: 1rem;
}

.row label {
  text-align: left;
  width: 35%;
  font-size: 0.8rem;
}
.row input {
  width: 60%;
  font-size: 0.8rem;
}
.row select {
  width: 63%;
}

.inputRelatorio {
  padding: 0.5rem 0.5rem;
  background-color: white;
  margin-left: 1rem;

  border: none;
  border-radius: 0.5rem;
}

.detalhamentoRelatorio {
  text-align: center;
  margin: 1rem 0;
  padding-top: 0.5rem;
  border-top: rgba(0, 0, 0, 0.2) solid 0.1rem;
}

.anexarNotaFiscal {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  bottom: -4rem;
  left: 0;
  transform: translateX(-50%);

  cursor: pointer;

  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  width: 70%;
  height: 2.5rem;

  background-color: #ca302d;

  transition: height 0.2s ease;
}

.anexarNotaFiscal::before {
  content: "";
  background-image: url(../../icon/expand_more_black_24dp.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;

  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;

  background-color: white;
  border: 1px solid black;

  transform: translate(0%, -50%);

  transition: transform 0.5s ease;
}

.anexarNotaFiscalExpandir {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  bottom: -4rem;
  left: 0;
  transform: translateX(-50%);

  cursor: pointer;

  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  width: 70%;
  height: 15rem;

  background-color: #ca302d;

  transition: height 0.2s ease;
}

.anexarNotaFiscalExpandir::before {
  content: "";
  background-image: url(../../icon/expand_more_black_24dp.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;

  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;

  background-color: white;
  border: 1px solid black;

  transform: translate(0%, -50%) rotate(180deg);

  transition: transform 0.5s ease;
}

.anexarNotaFiscal:hover::before {
  transform: rotate(180deg) translate(0%, 50%);
}

.pAnexarNotaFiscal {
  color: white;
  text-align: center;
  padding: 0.8rem 0 0.5rem 0;
}

.notaFiscal {
  display: flex;
  flex-direction: column;

  align-items: center;

  background-color: #fafafa;

  border: solid 0.2rem #ca302d;
  border-bottom: none;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  width: 150%;
  height: 100%;

  overflow: hidden;

  cursor: initial;
}

.inputFile {
  padding-top: 1rem;
  display: none;
}

.notaFiscal p {
  margin-top: 1rem;
}

.labelInputFile {
  width: 20%;

  text-align: center;
  font-size: 0.5rem;

  padding: 0.5rem;
  margin-top: 1rem;

  background-color: #ca302d;
  color: white;

  border-radius: 0.5rem;
}

.botaoSalvarNotaFiscal {
  position: absolute;
  right: -0.2rem;
  bottom: -4.2rem;

  border: none;
  border-top-left-radius: 100%;
  border-top-left-radius: 100%;

  background-color: #ca302d;

  width: 3rem;
  height: 3rem;
}

.botaoSalvarNotaFiscal svg {
  transform: translate(0.3rem, 0.3rem);
  fill: white;
}

.containerBotao {
  display: flex;
  margin: auto 1rem auto auto;

  border-radius: 0.5rem;

  justify-content: space-between;

  background-color: rgb(91, 91, 247);
  height: 3rem;
  width: 30%;

  transform: translateY(1rem);
}

.containerBotao button {
  width: 50%;

  color: white;
  border: none;
  background-color: transparent;
}

.buttonOrcamento:hover,
.buttonOrcamentoTarget {
  background-color: rgb(50, 50, 255) !important;

  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.buttonDocumentoFiscal:hover,
.buttonDocumentoFiscalTarget {
  background-color: rgb(50, 50, 255) !important;

  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.containerContentHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerContentHeader div {
  display: inherit;
}

.containerContentHeader p,
.containerContentHeader label {
  font-size: 0.7rem;
  padding-left: 0.3rem;
}

.containerContentHeader h1 {
  margin-bottom: 0.5rem;
}

/* orcamentos */

.agruparBotoesOrcamento {
  display: flex;
  align-items: center;
  position: relative;

  overflow: hidden;

  width: 70%;
  height: 5rem;
  margin: 1rem auto auto;

  background-color: whitesmoke;

  border-radius: 0.5rem;

  scroll-behavior: smooth;
}

.botaoOrcamneto,
.agruparBotoesOrcamento > button {
  margin: 1rem 1rem 1rem 0;
  padding: 1rem;
  white-space: nowrap;

  border: none;
  border-radius: 0.5rem;

  background-color: teal;
  color: white;
}

.botaoOrcamneto > div {
  position: relative;
}

.botaoOrcamneto {
  padding-right: 3rem;
  white-space: nowrap;
}

.apagarOrcamento {
  position: absolute;
  bottom: 0;
  transform: translate(-3.4rem, -1.6rem);
  width: 2rem;
  height: 1.7rem;
}

.adicionarOrcamento {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 1.3rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50% !important;

  color: white;
  font-size: 1.5rem;
  box-shadow: white 0 0 3px;
  border: none;
  background-color: #ca302d !important;
  padding: 0 !important;
}

.rightArrow {
  position: fixed !important;
  right: 4rem;

  padding: 0;
  margin: 0 !important;

  background-color: transparent !important;
  color: black !important;

  height: 5rem !important;

  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.leftArrow {
  position: fixed !important;
  left: 4rem;

  padding: 0;
  margin: 0 !important;

  background-color: transparent !important;
  color: black !important;

  height: 5rem !important;

  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.leftArrow svg {
  transform: rotate(180deg);
}

.botaoOrcamentoTarget {
  background-color: blue !important;
  position: relative !important;
}

.botaoOrcamentoTarget::after {
  content: "";
  position: absolute;
  bottom: -2.4rem;
  left: 2.7rem;

  width: 2rem;
  height: 2rem;

  background-color: #639163;

  border-top-left-radius: 100%;

  transform: rotate(225deg);
}

/* tools  */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  width: auto;
}

.utils {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.utils button {
  width: 4rem;
  height: 2rem;
  margin: 0.1rem 0;
}
