.containerPaginacao {
  position: relative;

  width: max-content;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;
}

.containerPaginacao > p {
  margin: 0 1rem;
}

.containerPaginacao > button {
  display: flex;
  align-items: center;

  margin: 0 0.1rem;
  padding: 0.1rem 0.35rem;
}
