.containerProjeto {
  display: grid;
  grid-template-columns: 5fr 1fr;
  background-color: #ededed;
  border: solid 0.2rem #e2e2e2;
  border-radius: 0.5rem;
  padding: 0.5rem;
  align-items: center;
}

.nomeProjeto {
  font-size: 0.8rem;
  text-align: left;
}

.editarProjeto {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 2rem;
}

.containerEditar {
  max-width: 45rem;
  width: 90%;
  background-color: #e2e2e2;
  border-radius: 0.5rem;
  position: relative;
  margin-bottom: 1rem;
}

.inputProjeto {
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  margin: 0.5rem 0;
  width: 90%;
  background-color: white;
  margin-right: 2.5rem;
  box-sizing: border-box;
  padding: 0 1rem;
  transition: 0.2s ease;
}

.inputProjeto:focus {
  background-color: rgb(255, 240, 240);
}

.inputProjeto:hover {
  background-color: rgb(255, 250, 250);
}

.botaoProjeto {
  position: absolute;
  right: 0rem;
  bottom: 0rem;
  width: 3rem;
  height: 3rem;
  border-radius: 5rem;
  border: none;
  background-color: #df4229;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  transition: 0.3s ease;
}

.botaoProjeto:hover {
  width: 3.5rem;
  height: 3.5rem;
}

.espacamento {
  margin-top: 1rem;
}

.saveProject {
  fill: white;
  transform: translate(0.3rem, 0.5rem);
  width: 1.5rem;
}

.row {
  /* width: 42rem; */
  display: grid;
  grid-template-columns: 5rem 5fr;
  align-items: center;
}

.agruparBotoes {
  justify-self: flex-end;
  display: flex;
  margin-left: 1rem;
}

.removerEstilo {
  height: 1rem;
  border: none;
  margin: 0 0.2rem;
}

.svgProjeto {
  height: 1rem;
  width: 1rem;
  fill: #084c61;
  transition: transform 0.2s ease;
}

.svgProjeto:hover {
  transform: scale(1.5);
}

.teste {
  position: relative;
  overflow: hidden;
  height: 0;
  transition: 0.3s ease;
}

.teste2 {
  position: relative;
  height: 13rem;
  overflow: hidden;
  transition: 0.3s ease;
}

.optionProjeto {
  margin: 1rem;
  border-radius: 0.5rem;
  height: auto;
}
