.userContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 50rem;
  width: 90%;
  padding: 0;
}

.user {
  display: flex;
  justify-content: space-between;
  background-color: #df4229;
  max-width: 50rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  height: 2rem;
  border: solid 0.2rem #e0270a;
  padding: 0 0.5rem;
  grid-template-columns: 5fr 0.5fr;
  align-items: center;
}

.agruparBotoes {
  display: flex;
  height: 1rem;
  align-items: center;
}

.linhaVertical {
  transform: translateY(-0.1rem);
  font-size: 1.5rem;
  margin: 0 0.2rem;
  color: #fff;
  user-select: none;
}

.svgUser {
  width: 1rem;
  height: 1rem;
  fill: #fff;
}

.pUser {
  color: white;
  font-weight: bold;
}

.botaoUser {
  height: 1rem;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: rgba(255, 228, 196, 0);
  margin: 0 0.2rem;
  transition: 0.2s ease;
}

.botaoUser:hover {
  transform: scale(1.5);
}

.botaoUser:disabled {
  transform: none;
}

#show {
  transform: rotate(90deg);
  transition: transform 0.2s ease;
}

#show:hover {
  transform: rotate(90deg);
}

#hidden {
  transform: rotate(0deg);
  transition: transform 0.2s ease;
}

#hidden:hover {
  transform: rotate(0deg);
}

.projetosShow {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
  transition: max-height 700s ease;
  /* O usuário agora pode ter 49.999 projetos */
  max-height: 160000rem;
}

.projetosHidden {
  position: relative;
  overflow: hidden;
  height: 0;
  transition: 2s ease;
  max-height: 0;
}

.separador {
  position: absolute;
  left: 0;
  top: -0.5rem;
  width: 1px;
  height: calc(100% - 1.3rem);
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 5%;
}
