@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: black;
  outline: none;
  text-decoration: none;
}

body,
html {
  min-width: 800px;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  opacity: 60%;
  cursor: initial;
}

/* form control */

.wrongInput {
  border: 0.2rem solid #d95d39;
}

#teste:target {
  color: blue;
}
